.login{
    object-fit: contain;
    background-image: url("https://w0.peakpx.com/wallpaper/818/148/HD-wallpaper-whatsapp-background-cool-dark-green-new-theme-whatsapp.jpg");
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_box{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    height: 43vh;
    background-color: lightgrey;
    width: 26vw;
    /* border: 2px solid black; */
}
@media (max-width: 885px) {
    .login_box {
      width: 50%; /* Adjust as needed */
      height: 45%;
      max-width: 300px; /* Adjust as needed */
      margin: 0 auto; /* Center the container horizontally */
    }
    .login_data{
        width: 90%;

    }
    .login_form{
        width:50vw
    }
    .login_form input {
        min-width: 25vw;
    }
    .login_button{
        width: 25%;
    }
}
.login_img{
    object-fit: contain;
    height: 100px;
    width: 300px;
}
.login_data{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login_adjuster{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login_form input {
    width: 15vw;
    outline: none;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid green;
}
.login_button{
    width: 45%;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 7px;
    text-decoration: solid;
    margin-top: 10px;
}